.vscode/**
src/**
sidecar/**/*.cs
sidecar/**/*.csproj
sidecar/obj/**
sidecar/bin/Debug/**
sidecar/bin/Release/**
sidecar/Properties/**
node_modules/**
.gitignore
DEVELOPMENT.md
webpack.config.js
tsconfig.json
vscode-servicebus-emulator.sln
**/*.map
**/*.ts

!EXTENSION_README.md
